#habilidades {
    background-color: white;
    border-top: 1px solid orange;
}

.habilidades-pd h3 { 
    text-align: center;
    padding: 100px;
    font-family:'Audiowide', cursive;
    font-size: 3em;
    margin: 0;
    color: rgb(243, 69, 0);
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 60%;
}

.skill-box {
    height: 10em;
    width: 10em;
    background-color: #ffb05b;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.skill-box:hover {
    background-color: white;
    transform: scale(1.05);
}

.conteiner-descricao {
    color: black;
    font-family: 'Quando', serif;
    font-size: 20px;
    max-width: 35%;
    
}

@media (max-width:1200px) {

    .conteiner-descricao {
        max-width: 50%;
        height: 260px;
    }

    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        /* width: 535px; */
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 90%;
    }

    .conteiner-descricao {
        max-width: 400px;

    }

}

.skill-box .icones-habilidades {
    transition: ease-in-out 0.3s;
    width: inherit;
}

@media (max-width:500px){
    .conteiner-descricao {
        max-width: 300px;
        padding-bottom: 60px;
    }
}


